<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="logs\\Error\\Error.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value=".yyyy-MM-dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d - %m%n"/>
      </layout>
    </appender>
    <appender name="KSReferenceLog" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="logs\\KS\\Reference\\log.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value=".yyyy-MM-dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d - %m%n"/>
      </layout>
    </appender>
    <logger name="ErrorLog">          
      <level value="ALL"/>
      <appender-ref ref="ErrorLog"/>
    </logger>
    <logger name="KSReferenceLog">
      <level value="ALL"/>
      <appender-ref ref="KSReferenceLog"/>
    </logger>
  </log4net>
  <appSettings>
    <!--AD 账号-->
    <add key="Hostname" value="as.ad.rrd.com"/>
    <add key="AdminUser" value="as\sys_icontract"/>
    <add key="AdminPassword" value="rrduseric9K"/>
    <add key="BaseDN" value="ou=CN,dc=as,dc=ad,dc=rrd,dc=com"/>
    <add key="GroupEntry" value="OU=Groups,ou=CN,dc=as,dc=ad,dc=rrd,dc=com"/>
    <!--sql server 信息-->
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!--测试环境-->
    <add key="ConnectionString" value="server=10.177.192.231;database=BarcodeTracking;user id=BarcodeTracking_KGM;password=RRDuser12345"/>
    <!--cookie key-->
    <add key="cookieKey" value="RRDUser"/>
    <!--昆山工厂id-->
    <add key="KSFactoryCode" value="1281"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
